
<div class="row">
    <div class="col-md-6"><h4>ประสบการณ์</h4></div>
    <div class="col-md-6">
      <span><h4 class="text-right"><a (click)="addExp()">เพิ่มประสบการณ์ใหม่&nbsp; <i class="glyphicon glyphicon-plus"></i></a> &nbsp;</h4></span>
      <!-- <span><a><i class="glyphicon glyphicon-edit"></i></a></span> -->
    </div>
</div>
<p></p>
<div class="row">
  <div class="col-md-2">
      <div> <img  class="pv-entity-logo" src="../../assets/images/freewill.png"></div>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <p>Programmer</p>
        <p>Freewill Solutions</p>
        <p><span>ต.ค. 2012 – ปัจจุบัน</span></p>
        <p>ขอนแก่น</p>
        <p><br></p>
        <p>-พัฒนาระบบ Web Application , Web API โดยใช้ภาษา ASP.NET MVC , SQL SERVER , JAVASCRIPT + JQUERY, CSS
            <br>-พัฒนาระบบ Windows Application โดยภาษา VB.NET
            <br>-วิเคราะห์และแก้ปัญหาระบบ</p>
      </div>
    </div>
  </div>
  <div class="col-md-2 text-right">
      <span style="font-size:1.5em;"><a (click)="editExperien()"><i class="glyphicon glyphicon-pencil"></i></a></span>
  </div>
</div>
<hr>
<div class="row">
    <div class="col-md-2">
        <div> <img  class="pv-entity-logo" src="../../assets/images/avatar5.png"></div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <p>Programmer</p>
          <p>Pantavanij</p>
          <p><span>ต.ค. 2011 – 2012</span></p>
          <p>กทม</p>
          <p><br></p>
          <p>-พัฒนาระบบ Web Application , Web API โดยใช้ภาษา ASP.NET MVC , SQL SERVER , JAVASCRIPT + JQUERY, CSS
              <br>-พัฒนาระบบ Windows Application โดยภาษา VB.NET
              <br>-วิเคราะห์และแก้ปัญหาระบบ</p>
        </div>
      </div>
    </div>
    <div class="col-md-2 text-right">
        <span style="font-size:1.5em;"><a (click)="editExperien()"><i class="glyphicon glyphicon-pencil"></i></a></span>
    </div>
  </div>

  <app-workexperience-form></app-workexperience-form>