
<div class="row">
  <div class="col-md-12">
    <label>สถาบันการศึกษา</label>
    <input type="text" class="form-control">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label>ระดับการศึกษา</label>
    <input type="text" class="form-control">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label>สาขาวิชา</label>
    <input type="text" class="form-control">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label>เกรด</label>
    <input type="text" class="form-control">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label>กิจกรรมและสังคม</label>
    <input type="textarea" class="form-control textarea">
  </div>
</div>