<!-- Modal -->
<div class="modal fade" id="userinfoFormModal" tabindex="-1" role="dialog" aria-labelledby="userinfoFormModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >ข้อมูลส่วนตัว</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <img width="90" class="img-circle" src="../../assets/images/avatar5.png">
          <a><i class="glyphicon glyphicon-edit"></i></a>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <label for="firstName">ชื่อ</label>
            <input type="text" class="form-control" placeholder="Enter First Name" name="firstName">
          </div>
          <div class="col-md-6">
            <label for="lastName">นามสกุล</label>
            <input type="text" class="form-control" placeholder="Enter Last Name" name="lastName">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <label for="introduce">ข้อความแนะนำ</label>
            <input type="text" class="form-control" placeholder="Enter introduce" name="introduce">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <label for="titleName">ตำแหน่งปัจจุบัน</label>
            <input type="text" class="form-control" placeholder="Enter titleName" name="titleName">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>